*{
    font-family: montserrat;
}
body{
    background: flfbff;
}
.btn-outline-success {
    --bs-btn-color: #c14a35;
    --bs-btn-border-color: #c14a35;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #c14a35;
    --bs-btn-hover-border-color: #c14a35;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #c14a35;
    --bs-btn-active-border-color: #c14a35;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #c14a35;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #c14a35;
    --bs-gradient: none;
}
/* .btn-outline-success {
    --bs-btn-color: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #198754;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #198754;
    --bs-gradient: none;}
     */
.dropdown-menu {
    --bs-dropdown-link-hover-color: #250701;
    --bs-dropdown-link-hover-bg: #bb695a;
}
.navbar-nav a{
    font-size:15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-light .navbar-brand{
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.navbar {
    display: flex;
    justify-content: space-between; /* Align items evenly */
    align-items: center; /* Center items vertically */
  }
  
  .cart-icon {
    margin-left: 40px; /* Adjust margin as needed */
  }
  
  .cart-icon img {
    width: 37px; /* Adjust width as needed */
    height: 37px; /* Adjust height as needed */
    cursor: pointer; /* Add cursor pointer for better UX */
  }
  .container {
    margin-top: 20px;
    max-width: 1420px;
}